@page
@model YAFancyWebAppFixed.Pages.NiceTryModel
@{
}

<h1 class="text-danger">Nice Try.</h1>
<div id="comic">
	<img src="https://imgs.xkcd.com/comics/exploits_of_a_mom.png" alt="Sorry, I caught you!" />
</div> 

